html {
    width: auto !important;
    height: auto !important;

}



body {
    margin: 0;
    padding: 0;
}



.box {

    display: flex;
    margin-top: 100px;
    justify-content: center;


}

#container div {
    border: 1px black solid;
    padding: 0px;
    color: blue;
    background-color: white;
    flex-grow: 1;
    flex-direction: column;
    display: flex;


}


#container {
    display: flex;
    flex-wrap: wrap;
    border: 5px green solid;
    flex-grow: 1;
    min-height: 500px;
    max-height: 500px;
    min-width: 960px;
    max-width: 960px;







}

#container .hovered {
    background-color: green;


}

#container div div {
    background-color: white;
}